@media screen and (min-width: 1200px) {

}


@media screen and (min-width: 992px) {
    .container{
    width: 85%;
    }

    .burger{
        display: none;
    }

    .nav-bar{
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (min-width: 768px) {
    .disp-flex-column{
        flex-direction: row;
    }

    .big-box{
        width: calc(65%);
    }

    .small-box{
        width: calc(30%);
        min-height: 450px;
    }

    .small-box:nth-child(2){
        min-height: 550px;
    }
}


@media screen and (min-width: 480px) {

}