/*generics*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    line-height: 25px;
}

/*utilities*/
.place-holder{
    width: 100%;
    padding: 30px 0;
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --lightpurple: #9792E4;
    --orange: #FDC15F;
    --lightgray: #5A6E7F;
}

.padd40{
    padding: 40px;
}

.icon{
    font-size: 80px;
    color: var(--blue);
}

.disp-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disp-flex-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.button{
    padding: 10px 20px;
}

.round-btn{
    border-radius: 50%;
}

.border-r{
    border-radius: 25px;
}

.white-btn{
    background-color: white;
    color: var(--lightpurple);
}

.bl-btn{
    background-color: var(--blue);
}

.lightpurple-btn{
    background-color: var(--lightpurple);
    padding: 10px 15px;
    color: black;
    font-size: 20px;
}

.container{
    width: 80%;
    margin: auto;
}

.margin-btm{
    margin-bottom: 40px;
}

.margin-auto{
    margin: auto;
}

.padd10{
    padding: 5px 20px;
}

.bg-lightblue{
    background-color: var(--lightblue);
}

.bg-white{
    background-color: white;
}

/*header*/

header{
    background-color: var(--blue);
}

header i{
    font-size: 24px;
    color: white;
}

#logo{
    height: 60px;
    margin: 10px 0;
}

.nav-bar{
    display: none;
}

.nav-bar a{
    color: white;
    margin: 0 10px;
}

.nav-bar .white-btn{
    color: black;
}

/*main*/

/*lightblue or "1st" part*/
.big-box{
    width: 100%;
    padding-bottom: 0;
}

.first-part h3{
    color: var(--blue);
    font-size: 26px;
}

.first-part p{
    color: var(--lightgray);
    font-weight: bold;
}

.first-part img{
    width: 80%;
    margin: 0 auto;
}

.small-box{
    width: 100%;
    text-align: center;
}

.first-part a{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*lightpurple or "2nd" part*/
.bg-lightpurple{
    background-color: var(--lightpurple);
}

.padding-btm{
    padding-bottom: 50px;
}

.planning h2{
    font-size: 40px;
    line-height: 50px;
}

.planning1 *{
 color: white;
}

.planning img{
    text-align: center;
    width: 100%;
}



/*testimonials*/
.big-testimonials{
    text-align: center;
}

.testimonials{
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    color: white;
    align-items: center;
}
.testimonials img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.big-testimonials h2{
    color: var(--lightpurple);
}

.big-testimonials h3{
    font-weight: lighter;
}

/*benefits*/
.benefits-dad{
    text-align: center;
}

.benefits-dad > h3{
    color: white;
    font-size: 38px;
    padding-top: 20px;
    line-height: 45px;
}

.benefits{
    width: 100%;
    text-align: left;
}

.benefits h2, .benefits h3{
    color: var(--lightpurple);
}

.benefits h2{
    font-size: 45px;
    padding-top: 30px;
}

.benefits-btn{
    padding: 10px 30px;
    color: white;
    margin:auto;
}

/*aboutus*/
.about-us h2{
    font-size: 38px;
    color: var(--lightpurple);
}

.about-us h3{
    font-size: 30px;
    color: var(--lightpurple);
    line-height: 40px;
}

.about-us img{
    width: 100%;
}

.about-us img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*get started*/
.get-started{
    padding: 30px 0;
    text-align: center;
}

.get-started *{
    color: white;
}

.get-started strong{
    color: var(--lightpurple);
}

.get-started h2{
    color: var(--orange);
    font-size: 55px;
}

.get-started-tras{
    color: rgba(255, 255, 255, 0.5);
}

/*footer*/
.bg-footer{
    background-color: #333333;
    text-align: center;
}

.bg-footer div{
    color: white;
}

.bg-footer a{
    color: var(--lightpurple);
    text-decoration: underline;
}